body {
    min-height: 100vh;
    background: linear-gradient(
        100deg,
        #3b3060 15%,
        rgba(35, 31, 61, 0.84) 58%,
        #a4a4a4 100%
    );
    background-attachment: fixed;
}