body {
    min-height: 100vh;
    background-color: #1D1616;
    
    /**background: linear-gradient(
        100deg,
        #8e1616 15%,
        rgba(0, 0, 0, 0.84) 58%,
        #D84040 100%
    ); **/
    background-attachment: fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    padding: 28px;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px 18px;
  margin-top: 18px;
}

.field {
    display: flex;
    flex-direction: column;
    border: #EEEEEE 1px solid;
    padding-bottom: 12px;;
    border-radius: 5px;
    background-color: #D84040;

    input {
      background-color: #433f3f;
    }
}

.field-expiry {
    display: flex;
    flex-direction: column;
    border: #EEEEEE 1px solid;
    padding-bottom: 12px;;
    border-radius: 5px;
    background-color: #D84040;

    input {
      background-color: #433f3f;
    }

    
}


.card {
    background-color: #8e1616;
    padding: 30px 16px;
    box-shadow: 0px 10px 3px #1D1616;
    border: #EEEEEE 1px solid;
    border-radius: 5px;
    
}
.err {
  color: red;
  display: none;
}

fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}

.search-bar {
    display: flex;
    justify-content: right;
    margin-bottom: 20px;
    color: #EEEEEE;

   input {
    background-color: #1D1616;
   }

}

header {
    background-color: #8E1616;
    grid-area: title;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: #EEEEEE 1px solid;
    border-radius: 5px;
}

nav {
    background-color: #D84040;
    grid-area: nav;
    display: flex;
    justify-content: space-evenly;
    border: #EEEEEE 2px solid;
}

.nav{
    flex: 1;
    border: 0.5px solid #EEEEEE;
    display: flex;
}

.nav a{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
a{
    color: #EEEEEE;
    text-decoration: none;
}