* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body {
    min-height: 100vh;
    background-color: #7a3232;
    
    /**background: linear-gradient(
        100deg,
        #8e1616 15%,
        rgba(0, 0, 0, 0.84) 58%,
        #D84040 100%
    ); **/
    background-attachment: fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    padding: 28px;
}

/* .form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px 18px;
  margin-top: 18px;
} */

.text-input {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    border-radius: 5px;
}

.field {
    display: flex;
    flex-direction: column;
    border: none;
    margin-top: 10px;
    padding-bottom: 12px;
    border-radius: 5px;
}

    .field input, 
    .field textarea {
      background-color: #ffffff;
      width: 100%;
    }

 textarea {
    color: #D84040;
}

.price-row {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
    flex: 1;
}

.price-row input[type="number"] {
    flex: 1;
}

.field-expiry {
    display: flex;
    flex-direction: column;
    border: none;
    margin-top: 10px;
    padding-bottom: 12px;
    border-radius: 5px;


    input {
      background-color: #ffffff;
    }

    
}

header {
    border: 1px solid #EEEEEE;
    text-align: center;
    background-color: #D84040;
}
.deal-form {
    background-color: #ffffff;
    padding: 30px 16px;
    box-shadow: 0px 3px 3px #030303;
    border: #000000 1px solid;
    border-radius: 5px;
    width: 800px;
    margin: 40px auto;}

.deal-form h1 {
    text-align: center;
    }
    

.err {
  color: red;
  display: none;
}

fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}

.search-bar {
    display: flex;
    justify-content: right;
    margin-bottom: 20px;
    color: #EEEEEE;

   input {
    background-color: #8e1616;
   }


}
label img {
    width: 32px;
    height: 32px;
    vertical-align: middle;
}

ul {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    align-content: center;
    list-style: none;

}

button {
    display: block;
    width: 80%;
    background-color: red;
    padding: 14px;
    margin: auto;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    cursor: pointer;
    margin-top: 20px;
}
.platform-container {
    margin-top: 16px;
}